@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<FridgeProducts.Models.Fridge>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fridges store</title>
    <link rel="stylesheet" href="~/css/FridgeCard.css" />
</head>
<body>
    <div class="headers">
        <h1>Fridges Collection</h1>
    </div>
    <div class="Addbutton">
        <a id="addButton" asp-controller="Fridge" asp-action="Create">Добавить</a>
    </div>
    <div class="wrapper">
        @foreach(var item in Model)
        {
            <div class="product-item">
                <img src="@FilePath.ImagePath@item.Image">
            <div class="product-list">
                <h2>@item.Name</h2>
                    <a asp-controller="Fridge" asp-action="About" asp-route-id="@item.FridgeId" class="button">Подробнее</a>
            </div>
            </div>
        }
    </div>
    
   
</body>
</html>

