@model Methanit_ASP_NET_Core_7.Models.Fridge_Products
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fridges store</title>
    <link rel="stylesheet" href="~/css/CreatePM.css" />
</head>
<body>
    <div class="content">
        <h2 class="v2">Добавление редактирование продукта</h2>
        <form asp-action="Edit" asp-controller="FridgeProducts">
            <p>
                <input type="hidden" asp-for="FridgeId" />
            </p>
            <p>
                <label asp-for="Quantity">Количество</label><br />
                <input type="number" asp-for="Quantity" />
                <span asp-validation-for="Quantity" style="Color: white; font-weight: 700;" />
            </p>
            <p>
                <label asp-for="ProductsId">Продукт:</label><br />
                <select asp-for="ProductsId" asp-items="ViewBag.Products">
                    <option selected="selected" disabled="disabled">Выберите продукт</option>
                </select>
                <span asp-validation-for="ProductsId" style="Color: white; font-weight: 700;" />
            </p>
            <p>
                <input type="submit" class="viv" value="Отправить" />
            </p>
        </form>

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>
</html>
