.content {
    margin: auto;
    border: 4px solid white;
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    width: 1500px;
}

.content form{
    display: flex;
    justify-content: space-between;
}

.content form .inputInfoFridge{
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    font-size: 24px;
    padding: 10px 20px 10px 5px;
    box-shadow: 0 4px 10px white;
}

.content form .inputInfoFridge p label{
    font-size: 24px;
    font-weight: 700;
    color: #808080;
    
}

.content form .inputInfoFridge p input{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    
}

.content form .inputInfoFridge p select{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    
}


.content form .inputInfoFridge .sendButton{
    display: block;
    margin: 10px auto;
    border: 2px solid gray;
    background-color: transparent;
    padding: 5px 40px;
}

.content form .inputInfoFridge .sendButton:hover{
    background-color: gray;
    color: white;
    transition-duration: 0.3s;
}


body {
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

h2{
    text-align: center;
    color: white;
}

.scroll-table {
    background-color: white;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 10px white;
}

.scroll-table-body {
    height: 410px;
    overflow-x: auto;
    margin-top: 0px;
    border-bottom: 1px solid #eee;
}

.scroll-table table {
    width: 100%;
    table-layout: fixed;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.scroll-table thead th {
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.scroll-table tbody td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 24px;
    vertical-align: top;
}


/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


