@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Methanit_ASP_NET_Core_7.Models.Fridge

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fridges store</title>
</head>
<link rel="stylesheet" href="~/css/AboutFridge.css" />
    <link rel="stylesheet" href="~/css/FridgeModelsStyle.css" />
<body>
    
    <div class="editplace">
        <h2 class="header-text">Редактирование холодильника</h2>
        <div class="InfoBlock">
            <div class="about">
                <form asp-action="Edit" asp-controller="Fridge" enctype="multipart/form-data">
                    <p>
                        <input type="hidden" asp-for="FridgeId" />
                    </p>

                    <p>
                        <input type="hidden" asp-for="Image" />
                    </p>
                    <p>
                        <label asp-for="Name">Название:</label><br />
                        <input type="text" asp-for="Name" />
                        <span asp-validation-for="Name" style="Color: black; font-weight: 700;" />
                    </p>
                    <p>
                        <label asp-for="Owner_Name">Имя владельца:</label><br />
                        <input type="text" asp-for="Owner_Name" />
                        <span asp-validation-for="Owner_Name" style="Color: black; font-weight: 700;" />
                    </p>
                    <p>
                        <label asp-for="Fridge_ModelId">Название модели:</label><br />
                        <select asp-for="Fridge_ModelId" asp-items="ViewBag.Fridges">
                            <option selected="selected" disabled="disabled">Выберите модель</option>
                        </select>
                        <span asp-validation-for="Fridge_ModelId" style="Color: black; font-weight: 700;" />
                    </p>

                    <p>
                        <label asp-for="Image">Изображение:</label>
                        <div class="but">
                            <input type="file" accept="image/png, image/jpeg"  />
                        </div>
                    </p>
                    <div class="buttons">
                        <p>
                            <input type="submit" value="Сохранить" />
                        </p>
                    </div>
                </form>
            </div>
            <div class="imageBlock">
                <img src="@FilePath.ImagePath@Model.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
            </div>
        </div>
    </div>
</body>
</html>

